.dashContainer {
    display: flex;
    align-items: flex-start;
    padding: 3% 2%;
    flex-wrap: wrap;
    background-color: #f4f5f8;
    min-height: 100vh;
}

.dashCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* Full width by default */
    max-width: 350px;
    /* Limit width */
    margin: 1%;
    /* Add some margin between cards */
    align-content: center;
    gap: 5px;
}

.dashCardHeading {
    display: flex;
    justify-content: space-between;
}

/* Responsive styles */
@media screen and (min-width: 769px) {
    .dashCardContainer {
        width: calc(33.33% - 2%);
        /* 3 cards per row */
    }
}

@media screen and (max-width: 768px) {
    .dashCardContainer {
        width: calc(50% - 2%);
        /* 2 cards per row */
    }
}

@media screen and (max-width: 480px) {
    .dashCardContainer {
        width: 100%;
        /* Full width on smaller screens */
    }

    .dashCardHeading {
        flex-direction: column;
        align-items: flex-start;
    }
}